header.header{
    .header-content{
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 940px;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
    .logo {
        display: flex;
        color: inherit;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        font-weight: 400;
        justify-content: center;
        // border-top: 1px solid var(--border-dark);
        // border-bottom: 1px solid var(--border-dark);
        flex: 1;
        h1{
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        img{
            min-height: 32px;
            min-width: 1px;
            // @keyframes fadeIn {
            //     0% { opacity: 0; }
            //     100% { opacity: 1; }
            //   }
            // animation: fadeIn 1s;
            // -webkit-animation: fadeIn 1s;
            // -moz-animation: fadeIn 1s;
            // -o-animation: fadeIn 1s;
            // -ms-animation: fadeIn 1s;
        }
        h2{
            font-size: 0.85rem;
            padding: 0.25rem 0;
            display: flex;
            gap: 0.25rem;
            align-items: center;
            opacity: 0.5;
            font-weight: 500;
            // .wings{
            //     display: inline-block;
            //     width: 0.5rem;
            //     padding: 0.1rem;
            //     border-top: 1px solid var(--border-dark);
            //     border-bottom: 1px solid var(--border-dark);
            // }
        }
        
    }
    .ad {
        display: flex;
        color: inherit;
        text-decoration: none;
        gap: 0.5rem;
        align-items: center;
        font-weight: 400;
        justify-content: center;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    ul.nav{
        display: flex;
        li{
            list-style-type: none;
        }
        a{
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;
            display: flex;
            gap: 0.5rem;
            padding: 0.5rem;
            align-items: center;
            svg{
                font-size: 1.25rem;
            }
            &:hover{
                color: #D9A50F;
            }
        }
    }

    // .header-nav{
    //     padding: 0rem 0rem 0.25rem 0;
    //     max-width: 940px;
    //     margin: 0 auto;
    //     width: 100%;
    //     &, ul{
    //         display: flex;
    //     }
    //     button{
    //         background-color: var(--background);
    //         border: none;
    //         color: var(--text);
    //         font-size: 1.5rem;
    //         display: flex;
    //         padding:  0 0rem;
    
    //         align-items: center;
    //     }
    //     ul{
    //         flex: 1;
    //         overflow: auto;
    //         align-items: center;
    //         gap: 0.25rem;
    
    //         li{
    //             list-style: none;
    //             display: inline-block;
    //             white-space: nowrap;
    //             padding: calc(0.25rem + 2px) 0rem;
    //             &:has(a.active){
    //                 color: #000;
    //                 font-weight: 500;
    //                 border-top: 1px solid var(--primary);
    //                 border-bottom: 1px solid var(--primary);
    //                 padding: 0.25rem 0rem;
    //                 box-sizing: content-box;
    
    //                 a{
    //                     background-color: var(--primary);
    //                 }
    //             }
    //             a{
    //                 display: block;
    //                 padding: 0.25rem 0.5rem;
    //                 text-transform: uppercase;
    //                 cursor: pointer;
    //                 color: inherit;
    //                 text-decoration: none;
    //             }
    //             &:hover{
    //                 color: #000;
    //                 font-weight: 500;
    //                 box-sizing: content-box;
                    
    //                 a{
    //                     background-color: var(--primary);
    //                 }
    //             }
    //         }
    //     }
    // }
}