.auth-page {
    height: calc(80vh);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 540px !important;
    margin: 0 auto;

    .row {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .auth-title {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        font-weight: 500;
    }

    .auth-form {
        gap: 25px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .auth-form-footer {
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        text-align: center;
        color: var(--text);

        a {
            color: var(--text);
            text-decoration: none;
            text-decoration: underline;
            font-weight: 500;
        }
    }
    @media screen and (max-width: 640px) {
        padding: 0 0.5rem;
    }
}