.modal{
    height: calc(100vh - 56px - 66px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 7%;
    padding: 0rem 1rem;
    z-index: 1;
    .content{
        box-shadow: 0px 0px 1px 1px white;
    }
    .content{
        max-width: 540px;
        background-color: var(--background);
        margin: 0 auto;
    }
    .body{
        min-height: 400px;
    }
    .modal-header{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        background-color: var(--background);
        font-size: 1.25rem;
        border-bottom: 1px solid var(--border-dark);
        svg{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .modal-header,
    .body,
    .modal-footer {
        padding: 1rem;
    }
}