.form{
    margin-top: auto;
    padding: 0rem 0.5rem;
    border-bottom: 1px solid var(--text);
    .form-inner{
        max-width: 940px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
   }
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--border);

    .oasis-input{
        font-family: inherit;
        input{
            backdrop-filter: blur(10px);
            background-color: var(--background-backdrop);
            border: none;
            max-width: 940px;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
            padding: 1rem 0;
        }
        border-radius: 0.25rem;
        width: calc(100% - 24px);
        display: block;
        outline: none;
        resize: none;
    }

    .options-button {
        outline: none;
        background-color: transparent;
        border: none;
        font-weight: bold;
        width: 24px;
        cursor: pointer;
        fill: var(--text);
    }

}
@media screen and (max-width: 640px) {
    .form {
        // backdrop-filter: blur(10px);
        // background-color: var(--background-backdrop);
        .text-input{
            border: none;
            padding: 0.5rem 0.5rem;
        }
        .options-button{
            border-radius: 0;
            margin: 0;
        }
    }
}