.conversation-options {
    h2 {
        padding: 1.5rem 0rem 0.5rem 0rem;
        font-size: 0.9rem;
    }

    & > h2:first-child{
        padding-top: 0;
    }

    input {
        background-color: transparent;
        padding: 1rem 0 1rem 0;
        border: none;
        width: 100%;
        outline: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }

    .conversation-list {
        display: grid;
        color: var(--text);

        max-height: 300px;
        overflow: auto;
        & .conversation:last-child{
            border-bottom: none
        }
        .conversation {
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            border-bottom: 1px solid var(--border);
            button {
                background-color: transparent;
                border: none;
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
            .conversation-name {
                text-align: left;
                flex: 1;
                background-color: none;
                border: none;
                font-weight: 500;
                opacity: 0.5;
                padding: 1rem 0;

                &.clickable {
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }

            }
            svg {
                width: 1rem;
                height: 1rem;
                fill: var(--accent);
            }
        }

    }
}