.chat{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.75rem 0.25rem 0.25rem 0.25rem;
    box-sizing: border-box;
    // height: calc(100vh - 114px - 62px);
    overflow: auto;
    // max-width: 800px;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 56px);
    .message{
        display: flex;
        font-size: 0.8rem;
        border-radius: 0.15rem;
        gap: 0.5rem;
        .avatar{
            color: inherit;
            background-color: var(--border);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            font-size: 1.25rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
        &.user .content{
            background-color: var(--border-light);
        }
        &.system .content,
        &.assistant .content {
            background-color: var(--border-dark);
        }
        .content{
            flex: 1;
            padding: 0.60rem 0.75rem;
            border-radius: 0.25rem;
            white-space: pre-wrap;
            word-break: break-word;
            line-height: 1.5rem;
        }
        &.loading .content{
            padding-left: 0;
            padding-right: 0;
        }
    }

}
@media screen and (max-width: 640px) {
    .chat{
        gap: 0.65rem;
        // padding: 0.65rem 0.25rem 4rem 0.25rem;
        .message{
           gap: 0.4rem;
           .avatar{
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1rem;
           }
           .content{
                padding: 0.55rem 0.75rem;
                // font-size: 0.75rem;
                line-height: 1.4rem;
           }
       }
    }
}