.oasis-checkbox {
    .control-group {
        display: inline-block;
        vertical-align: top;
        background: var(--background);
        text-align: left;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        padding: 30px;
        width: 200px;
        height: 210px;
        margin: 10px;
    }
    .control {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 18px;
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked {
                & ~ .control__indicator {
                    background: var(--primary-dark);
                    &:after {
                        display: block;
                    }
                }
            }
            &:disabled {
                & ~ .control__indicator {
                    background: var(--background);
                    opacity: 0.6;
                    pointer-events: none;
                }
            }
        }
    }
    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: var(--border);
        &:after {
            content: '';
            position: absolute;
            display: none;
        }
    }
    .control--radio {
        .control__indicator {
            border-radius: 50%;
            &:after {
                left: 7px;
                top: 7px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: var(--background);
            }
        }
        input {
            &:disabled {
                & ~ .control__indicator {
                    &:after {
                        background: var(--border);
                    }
                }
            }
        }
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
        background: #ccc;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
        transition: all 0.3s ease;
        background: #0e647d;
    }
    .control--checkbox {
        .control__indicator {
            &:after {
                left: 8px;
                top: 4px;
                width: 3px;
                height: 8px;
                border: solid var(--border);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
        input {
            &:disabled {
                & ~ .control__indicator {
                    &:after {
                        border-color: #7b7b7b;
                    }
                }
            }
        }
    }
    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
        select {
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding: 10px 15px;
            outline: 0;
            border: 0;
            border-radius: 0;
            background: #e6e6e6;
            color: #7b7b7b;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            &::-ms-expand {
                display: none;
            }
            &:disabled {
                opacity: 0.5;
                pointer-events: none;
                & ~ .select__arrow {
                    border-top-color: #ccc;
                }
            }
        }
    }
    .select select:hover,
    .select select:focus {
        color: #000;
        background: #ccc;
    }
    .select__arrow {
        position: absolute;
        top: 16px;
        right: 15px;
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #7b7b7b transparent transparent transparent;
    }
    .select select:hover ~ .select__arrow,
    .select select:focus ~ .select__arrow {
        border-top-color: #000;
    }
}