.options-button {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 3px;
    cursor: pointer;
    transition: all 150ms ease 0s;
    line-height: 14px;
    overflow: hidden;
    text-overflow: clip;
    border: none;
    text-align: center;
    color: rgb(26, 26, 26);
    font-weight: 600;
    gap: 0.25rem;
    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: inherit
    }
}