.oasis-logo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  h1{
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
